.profile_page {
    margin-top: 7rem;
}

.profile_container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.profile_detail-edit {
    display: flex;
    justify-content: flex-end;
}

.profile_detail-edit-btn {
    background: var(--color-primary);
    color: white;
    padding: .5rem 1rem;
}

.profile_image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%; 
}

.profile_image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.profile_details-container {
    border: 1px solid var(--color-white);
    padding: 1rem;
}

.profile_posts-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile_posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.profile_post {
    border: 1px solid var(--color-white);
    padding:1rem;
}

/* ---- */
.profile_blog-img {
    width: 100%; /* Set the container width to 100% */
    height: 0; /* Set initial height to 0 to maintain aspect ratio */
    padding-bottom: 100%; /* Set padding based on a 1:1 aspect ratio (100% width) */
    position: relative; /* Position the container */
    overflow: hidden; /* Hide overflowing content */
}

.profile_blog-img img {
    position: absolute; /* Position the image */
    top: 0;
    left: 0;
    width: 100%; /* Set the image width to 100% of the container */
    height: 100%; /* Set the image height to 100% of the container */
    object-fit: cover; /* Scale and crop the image to cover the container */
}
  

/* ----- */

.profile_page-edit {
    padding: .2rem .4rem;
    border: 1px solid green;
    color: green;
}

.profile_page-delete {
    padding: .2rem .4rem;
    border: 1px solid red;
    color: red;
}

.profile_blog-buttons {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}

.profile_page-view {
    padding: .2rem .4rem;
    border: 1px solid var(--color-primary);
    font-size: .8rem;
}

/* --------------------Media Queries-(Tablet)----------- */

@media screen and (max-width: 1024px) {

    .profile_image-container {
        width: 300px; 
        height: 300px;
    }

    .profile_posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




/* --------------------Media Queries-(mobile)----------- */

@media screen and (max-width: 600px) {

    .profile_image-container {
        width: 200px; 
        height: 200px;
    }

    /* .profile_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    } */

    .profile_container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .profile_posts {
        grid-template-columns: 1fr;
    }
}


/* -------------Shake Animation--------- */

.profile_page-delete {
    display: inline-block;
    transition: transform 0.3s ease;
}

.profile_page-delete:hover {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-2px); }
    20%, 80% { transform: translateX(2px); }
    30%, 50%, 70% { transform: translateX(-1px); }
    40%, 60% { transform: translateX(1px); }
    100% { transform: translateX(0); }
}