<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Blog</title>
    <!-- Icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <!-- -------------Navbar------------------------ -->

    <nav>
        <div class="container nav_container">
            <a href="/" class="nav_logo">BLOG DAILY</a>

            <ul class="nav_items">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Signin</a></li>
                {% endif %}
                <li><a style="cursor: pointer;" href=""><i class="uil uil-plus-circle"></i>Blog</a></li>
                <li class="nav_profile">
                    <div class="avatar">
                        <img src="{{ profile.profile_image.url }}" alt="">
                    </div>
                    <ul>
                        <li><a href="/profile/{{ profile.user }}">Account</a></li>
                        <li><a href="{% url 'addblog' %}">Blogs</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <button id="open_nav-btn"><i class="uil uil-list-ul"></i></button>
            <button id="close_nav-btn"><i class="uil uil-times"></i></button>
        </div>
    </nav>

    <!-- -------------Navbar END------------------------ -->

    <!---------------- Blog-Page------------------------ -->

    <section class="add_blog">
        <h2 class="add_blog-title">Create Blog</h2>
        <div class="container addblog_container">
            <form id="addblogform" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" class="addblog_input-title" name="title" placeholder="Title Here...." id="add_title" required>
                <textarea id="" cols="30" rows="10" name="caption" placeholder="Content here..." id="add_caption" required></textarea>
                <div class="form_inputs">
                    <input type="text" class="addblog_category" name="category" placeholder="Category" id="add_category" required>
                    <div class="form_input-image">
                        <input type="file" id="file" name="image" accept="images/*" id="add_image" required>
                        <label for="file">+ Upload Image</label>
                    </div>
                    <input type="submit" class="addblog_btn">
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: rgb(220, 78, 78);">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </form> 
        </div>
        <div class="container profile_posts-container">
            <h2 style="text-align: center; margin-bottom: 2rem; text-decoration: underline;">Your Blogs</h3>
            <div class="profile_posts">
                {% for blog in blogs %}
                <div class="profile_post">
                    <div class="profile_blog-img">
                        <img src="{{ blog.blog_image.url }}" alt="">
                    </div>
                    <p class="profile_post-title">{{ blog.title }}</p>
                    <p class="profile_post-category">{{ blog.category }}</p>
                    <div class="profile_blog-buttons">
                        <div>
                            <a href="{% url 'updateblog' blog.id %}" class="profile_page-edit"><i class="uil uil-edit"></i></a>
                            <a href="" class="profile_page-delete"><i class="uil uil-trash"></i></a>
                        </div>
                        <a href="{% url 'post' blog.id %}" class="profile_page-view">View</a>
                    </div>
                </div>
                {% empty %}
                <p>No blogs added yet</p>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    <!---------------- Blog-Page END------------------------ -->

    <!-- -------------FOOTER------------------------ -->
    
    <Footer>
        <div class="footer_copyright">
            <small>copyright &copy BLOG DAILY</small>
        </div>
    </Footer>

    <!-- -------------FOOTER END------------------------ -->

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            $('#addblogform').submit(function(event) {
                event.preventDefault()

                var formdata = new FormData(this)

                $.ajax({
                    url: "{% url 'ajax' %}",
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success) {
                            console.log(response.msg);

                            var newBlogHTML = `
                                <div class="profile_post">
                                <div class="profile_blog-img">
                                    <img src="${response.blog_image}" alt="">
                                </div>
                                <p class="profile_post-title">${response.title}</p>
                                <p class="profile_post-category">${response.category}</p>
                                <div class="profile_blog-buttons">
                                    <div>
                                        <a href="/updateblog/${response.id}" class="profile_page-edit"><i class="uil uil-edit"></i></a>
                                        <a href="" class="profile_page-delete"><i class="uil uil-trash"></i></a>
                                    </div>
                                    <a href="/post/${response.id}" class="profile_page-view">View</a>
                                </div>
                                </div>`
                            ;

                            $('.profile_posts').prepend(newBlogHTML)
                            $('#addblogform')[0].reset();

                        } else {
                            console.log('Error');
                        }
                    }
                })

            })
        })
    </script>
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            var editLink = document.querySelectorAll('.profile_page-edit');
            var popup = document.getElementById('popup');
            var closeBtn = document.getElementById('close-btn');

            editLink.forEach((link) => {
                link.addEventListener('click', (e) => {
                    e.preventDefault()
                    popup.style.display = 'flex'
                })
            })            
            closeBtn.addEventListener('click', function(e) {
                e.preventDefault()
                popup.style.display = 'none';
            });
        });

    </script> -->

</body>
</html>