<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Blog</title>
    <!-- Icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <!-- -------------Navbar------------------------ -->
    <nav>
        <div class="container nav_container">
            <a href="/" class="nav_logo">BLOG DAILY</a>

            <ul class="nav_items">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Signin</a></li>
                {% endif %}
                <li><a style="cursor: pointer;" href=""><i class="uil uil-plus-circle"></i>Blog</a></li>
                <li class="nav_profile">
                    <div class="avatar">
                        <img src="{{ profile.profile_image.url }}" alt="">
                    </div>
                    <ul>
                        <li><a href="/profile/{{ profile.user }}">Account</a></li>
                        <li><a href="{% url 'addblog' %}">Blogs</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <button id="open_nav-btn"><i class="uil uil-list-ul"></i></button>
            <button id="close_nav-btn"><i class="uil uil-times"></i></button>
        </div>
    </nav>
    <!-- -------------Navbar END------------------------ -->

    <!---------------- Blog-Page------------------------ -->

    <section class="add_blog">
        <h2 class="add_blog-title">Create Blog</h2>
        <div class="container addblog_container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" class="addblog_input-title" name="title" placeholder="Title Here....">
                <textarea id="" cols="30" rows="10" name="caption" placeholder="Content here..."></textarea>
                <div class="form_inputs">
                    <input type="text" class="addblog_category" name="category" placeholder="Category">
                    <div class="form_input-image">
                        <input type="file" id="file" name="image" accept="images/*">
                        <label for="file">+ Upload Image</label>
                    </div>
                    <input type="submit" class="addblog_btn">
                </div>
            </form> 
        </div>
        <div class="container profile_posts-container">
            <h2 style="text-align: center; margin-bottom: 2rem; text-decoration: underline;">Your Blogs</h3>
            <div class="profile_posts">
                <div class="profile_post">
                    <div class="profile_blog-img">
                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                    </div>
                    <p class="profile_post-title">Title</p>
                    <p class="profile_post-category">Development</p>
                    <div class="profile_blog-buttons">
                        <a href="" class="profile_page-edit">Edit</a>
                        <a href="" class="profile_page-delete">Delete</a>
                    </div>
                </div>
                <div class="profile_post">
                    <div class="profile_blog-img">
                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                    </div>
                    <p class="profile_post-title">Title</p>
                    <p class="profile_post-category">Development</p>
                    <div class="profile_blog-buttons">
                        <a href="" class="profile_page-edit">Edit</a>
                        <a href="" class="profile_page-delete">Delete</a>
                    </div>
                </div>
                <div class="profile_post">
                    <div class="profile_blog-img">
                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                    </div>
                    <p class="profile_post-title">Title</p>
                    <p class="profile_post-category">Development</p>
                    <div class="profile_blog-buttons">
                        <a href="" class="profile_page-edit">Edit</a>
                        <a href="" class="profile_page-delete">Delete</a>
                    </div>
                </div>
                <div class="profile_post">
                    <div class="profile_blog-img">
                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                    </div>
                    <p class="profile_post-title">Title</p>
                    <p class="profile_post-category">Development</p>
                    <div class="profile_blog-buttons">
                        <a href="" class="profile_page-edit">Edit</a>
                        <a href="" class="profile_page-delete">Delete</a>
                    </div>
                </div>
            </div>
    </section>


    <!---------------- Blog-Page END------------------------ -->


    <!-- -------------FOOTER------------------------ -->
    
    <Footer>
        <div class="footer_copyright">
            <small>copyright &copy BLOG DAILY</small>
        </div>
    </Footer>

    <!-- -------------FOOTER END------------------------ -->


    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>