<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Daily-blog</title>
</head>
<body>
    <!-- -------------Navbar------------------------ -->
    <nav>
        <div class="container nav_container">
            <a href="/" class="nav_logo">BLOG DAILY</a>

            <ul class="nav_items">
                <li><a href="">Home</a></li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Signin</a></li>
                {% endif %}
                <li><a style="cursor: pointer;" href="{% url 'addblog' %}"><i class="uil uil-plus-circle"></i>Blog</a></li>
                <li class="nav_profile">
                    <div class="avatar">
                        <img src="{{ profile.profile_image.url }}" alt="">
                    </div>
                    <ul>
                        <li><a href="/profile/{{ profile.user }}">Account</a></li>
                        <li><a href="{% url 'addblog' %}">Blogs</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <button id="open_nav-btn"><i class="uil uil-list-ul"></i></button>
            <button id="close_nav-btn"><i class="uil uil-times"></i></button>
        </div>
    </nav>

    <!-- -------------Navbar END------------------------ -->

    <!-- -------------Search---------------------------- -->

    <section class="search_bar">
        <form action="" class="container search_bar-container">
            <div>
                <i class="uil uil-search"></i>
                <input type="search" name="" placeholder="Search">
            </div>
            <button type="submit" class="btn">GO</button>
        </form>
    </section>

    <!-- -------------Search END---------------------------- -->

    <!-- -------------Featured------------------------ -->

    <section class="featured">
        <div class="container featured_container">
            <div class="post_thumbnail">
                <img src="{% static 'images/image1.jfif' %}" alt="">
            </div>
            <div class="post_info">
                <a href="" class="category_button">Designing</a>
                <h2 class="post_title"><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium</a></h2>
                <p class="post_body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto laboriosam itaque suscipit deleniti eum natus illo ipsam provident ratione? Natus quod quas corrupti sed distinctio! Iste delectus asperiores ipsa praesentium?</p>
                <div class="post_author">
                    <div class="post_author-avatar">
                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                    </div>
                    <div class="post_author-info">
                        <h5>By: Fazil Thekkan</h5>
                        <small class="">June 10, 2022 - 12.00</small>
                        <a href="" class="readmore_blog">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- -------------Featured END------------------------ -->

    <!-- -------------Blog Posts------------------------ -->

    <section class="posts">
        <div class="container posts_container">
            {% for blog in blogs %}
            <article class="post">
                <div class="post_thumbnail">
                    <img src="{{ blog.blog_image.url }}" alt="">
                </div>
                <div class="post_info">
                    <a href="" class="category_button">{{ blog.category }}</a>
                    <h3 class="post_title"><a href="">{{ blog.title }}</a></h3>
                    <p class="post_body">{{ blog.caption }}</p>
                    <div class="post_author">
                        <div class="post_author-avatar">
                            <img src="{{ blog.author_profile.profile_image.url }}" alt="">
                        </div>
                        <div class="post_author-info">
                            <h5>By: {{ blog.author.username }}</h5>
                            <small>{{ blog.blog_date }}</small>
                            <a href="{% url 'post' blog.id %}" class="readmore_blog">Read More</a>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>


    <!-- -------------Blog Posts END------------------------ -->
    
    <!-- -------------Category Buttons------------------------ -->

    <section class="category_buttons">
        <div class="container category_buttons-container">
            <a href="" class="category_button">Programming</a>
            <a href="" class="category_button">Development</a>
            <a href="" class="category_button">Designs</a>
            <a href="" class="category_button">Technologies</a>
            <a href="" class="category_button">AI</a>
            <a href="" class="category_button">Web</a>
        </div>
    </section>



    <!-- -------------Category Buttons END------------------------ -->

    
    <!-- -------------FOOTER------------------------ -->
    
    <Footer>
        <div class="footer_copyright">
            <small>copyright &copy BLOG DAILY</small>
        </div>
    </Footer>

    <!-- -------------FOOTER END------------------------ -->




    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>