<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/loginregister.css' %}">
	<title>Daily-Blog</title>
</head>
<body>
	<h2 class="top-head">Become A Member Of <span style="color: #6f6af8; font-size: 25px;">BLOG-DAILY</span></h2>
<div class="container desktop_signup-container" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'signup' %}" method="post">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="useemail">or use your email for registration</span>
			<input type="text" name="name" placeholder="Name" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input type="password" name="confirm_password" placeholder="Confirm Password" />
			<button class="signup-btn">create</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{% url 'signin' %}" method="post">
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="useemail">or use your account</span>
			<input type="text" placeholder="Username" name="signin_username"/>
			<input type="password" placeholder="Password" name="signin_password"/>
			<a href="#" class="forpass">Forgot your password? Click Here</a>
			<button class="signin-btn">Login</button>
			{% for message in messages %}
			<p style="color: rgb(192, 58, 58);">{{ message }}</p>
			{% endfor %}
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<!-- Mobile device container -->
<div class="container mobile_signup-container">
	<div class="mobile_form-container">
		<form action="{% url 'signin' %}">
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="useemail">or use your account</span>
			<input type="text" placeholder="Username" name="signin_username"/>
			<input type="password" placeholder="Password" name="signin_password"/>
			<a href="#" class="forpass">Forgot your password? Click here</a>
			<button class="signin-btn">Login</button>
			<p class="mobile_foot">New to Daily-Blog? <button class="signup_atag" onclick="showSignup()">Signup</button></p>
		</form>
	</div>
	<div class="mobile_formtwo-container">
		<form action="{% url 'signup' %}">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="useemail">or use your email for registration</span>
			<input type="text" name="name" placeholder="Name" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input type="password" name="confirm_password" placeholder="Confirm Password" />
			<button class="signup-btn">create</button>
			<p>Already a Daily-Blogger? <button class="signin_atag" onclick="showSignin()">Signin</button></p>
		</form>
	</div>
</div>

<script src="{% static 'js/loginregister.js' %}"></script>
<script>
	function showSignup() {
			var formContainer = document.querySelector(".mobile_form-container");
			var formTwoContainer = document.querySelector(".mobile_formtwo-container");

			formContainer.style.display = "none";
			formTwoContainer.style.display = "block";
		}

	function showSignin() {
			var formContainer = document.querySelector(".mobile_form-container");
			var formTwoContainer = document.querySelector(".mobile_formtwo-container");

			formContainer.style.display = "block";
			formTwoContainer.style.display = "none";
		}
</script>
</body>
</html>