{% load unicorn %}
{% load humanize %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Daily-Blog</title>

    {% unicorn_scripts %}
</head>
<body>
    {% csrf_token %}
    <!-- -------------Navbar------------------------ -->
    <nav>
        <div class="container nav_container">
            <a href="/" class="nav_logo">BLOG DAILY</a>

            <ul class="nav_items">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Signin</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a style="cursor: pointer;" href="/blog"><i class="uil uil-plus-circle"></i>Blog</a></li>
                <li class="nav_profile">
                    <div class="avatar">
                        <img src="{{ profile.profile_image.url }}" alt="">
                    </div>
                    <ul>
                        <li><a href="/profile/{{ profile.user.username }}">Account</a></li>
                        <li><a href="/blog">Blogs</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <button id="open_nav-btn"><i class="uil uil-list-ul"></i></button>
            <button id="close_nav-btn"><i class="uil uil-times"></i></button>
        </div>
    </nav>

    <!-- -------------Navbar END------------------------ -->

    <!-- -------------Single-Post----------------------- ------>

    <section class="singlepost">
        <div class="singlepost_container">
            <h2>{{ blog.title }}</h2>
            <div class="post_author">
                <div class="post_author-avatar">
                    <img src="{{ blog.author_profile.profile_image.url }}" alt="">
                </div>
                <div class="post_author-info">
                    <h5>By: {{ blog.author.username }}</h5>
                    <small>{{ blog.blog_date }}</small>
                </div>
            </div>
            <div class="singlepost_thumbnail">
                <img src="{{ blog.blog_image.url }}" alt="">
            </div>
            <p>{{ blog.caption }}</p>
        </div>
        <div class="single_post-comment">
            <h2>Discussion</h2>
            {% if not request.user.is_authenticated %}
                <div style="display: flex; justify-content: space-between;">
                    <a style="padding: .3rem .6rem; border: 1px solid var(--color-primary);" href="{% url 'signin' %}">Create An Account to Discuss</a>
                    {% if no_of_comments == 0 %}
                    {% elif no_of_comments == 1 %}
                    <p style="justify-self: flex-end; align-self: center;">{{ no_of_comments }} Comment</p>
                    {% else %}
                    <p style="justify-self: flex-end; align-self: center;">{{ no_of_comments }} Comments</p>
                    {% endif %}
                </div>
                <div class="comments_display">
                    <div class="comment">
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="comment_box">
                            <div class="comment_box-profile">
                                <img src="{{ comment.commented_by.profile_image.url }}" alt="">
                            </div>
                            <p>@<span><a href="{% url 'profile' comment.commented_by.user.username %}" style="cursor: pointer;">{{ comment.commented_by.user.username }}: </a></span>{{ comment.comment }}</p>
                            <p style="font-size: .5rem; justify-items: flex-end;">{{ comment.commented_on|timesince }} ago</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>No comments yet...</p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% unicorn 'comments' blogid=blog.id %}
            {% endif %}
        </div>
    </section>

    <!-- -------------Single-Post END----------------------- -->


    <!-- -------------FOOTER------------------------ -->
        
    <Footer>
        <div class="footer_copyright">
            <small>copyright &copy BLOG DAILY</small>
        </div>
    </Footer>

    <!-- -------------FOOTER END------------------------ -->




    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>